---
layout: base
title: DrKino
menuOption: home
---

<div class="row">
  <div class="col-md-8">
    <ul id="posts">
      {% for post in site.posts limit: 15 %}
        <li>
          {% include post_summary.html %}
        </li>
      {% endfor %}
    </ul>

    <div class="moreArticles">
      <a href="/archive#item15">More Articles in Archive</a>
    </div>
  </div>

  <div class="col-md-4">

    <h2>Embedded Systems</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "embeddedsystems" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <!--
    <div class="moreArticles">
      <a href="/tag/embeddedsystems#item5">More Embedded Systems Articles</a>
    </div>
    -->

    <h2>RF</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "rf" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <!--
    <div class="moreArticles">
      <a href="/tag/rf#item5">More RF Articles</a>
    </div>
    -->

    <h2>Control</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "control" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <!--
    <div class="moreArticles">
      <a href="/tag/control#item5">More Control Articles</a>
    </div>
    -->

    <h2>Digital Processing</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "digitalprocessing" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <!--
    <div class="moreArticles">
      <a href="/tag/digitalprocessing#item5">More Digital Processing Articles</a>
    </div>
    -->

    <h2>Analog Electronic</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "analogelectronics" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <!--
    <div class="moreArticles">
      <a href="/tag/analogelectronic#item5">More Analog Electronic Articles</a>
    </div>
    -->

    <h2>Security</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "security" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <div class="moreArticles">
      <a href="/tag/security#item5">More Security Articles</a>
    </div>

    <h2>Reverse Engineering</h2>
    <ul class="briefPosts">
      {% assign numFound = 0 %}
      {% for post in site.posts %}
        {% if post.tags contains "reverseengineering" %}
          {% assign numFound = numFound | plus: 1 %}
          {% if numFound <= 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <div class="moreArticles">
      <a href="/tag/reverseengineering#item5">More Reverse Engineering Articles</a>
    </div>

  </div>
</div>
